<Page 
xmlns="http://schemas.nativescript.org/tns.xsd" xmlns:ui="nativescript-filterable-listpicker"
xmlns:IM="nativescript-image-cache-media" loaded="pageLoaded" class="page">
<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <ActionItem (tap)="logout()">
        <Button text="Logout" class="action-item"></Button>
      </ActionItem>
    <Label class="action-bar-title" text="Workout Plan"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
  
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Workout'"></MyDrawer>
    </StackLayout>
    
    <GridLayout class="page page-content" tkMainContent>
  
<ScrollView>
        
    <GridLayout rows="" columns="">
            <GridLayout rows="*, auto, *">
                    <StackLayout class="card">
                  <!--  <Label class="gold card" textWrap="true" [text]="message$ | async"></Label> -->
                    <Label class="h2 header" style="text-align: center " text="Create Exercise"></Label>
                    <StackLayout class="card">     
                        <GridLayout columns="2*,1*" class="form">
                            <TextField class="input input-border" hint="Name" col="0" #exercise [(ngModel)]="title"></TextField>
                            <Button class="btn btn-primary" col="1" text="Add" (tap)="add()"></Button>
                        </GridLayout>
                        <GridLayout columns="1*,1*,1*" class="form">
                            <TextField class="input input-border" hint="Reps" col="0" #exercise [(ngModel)]="reps"></TextField>
                            <TextField class="input input-border" hint="Sets" col="1" #exercise [(ngModel)]="sets"></TextField>
                            <TextField class="input input-border" hint="Time" col="2" #exercise [(ngModel)]="time"></TextField>
                        </GridLayout>
                        <GridLayout columns="1*" class="form">
                            <TextField class="input input-border" hint="Description" col="0" #exercise [(ngModel)]="description"></TextField>
                        </GridLayout>
                    </StackLayout>
                    <StackLayout >
                            <Button text="Pick An Existing Exercise" (tap)="showPicker()" height="50" width="250" style="background-color: rgba(0,0,0,0.7); color: white; border-radius: 25;"></Button>
                    </StackLayout>
                    <StackLayout height="200" class="card">
                            <Label class="h2 header" text="Exercise Routine" style="text-align: center"></Label>
                            <ListView [items]="exercises$ | async"  height="300">
                                <ng-template let-item="item">                  
                                    <GridLayout columns="auto,*,auto">
                                        <Image class="m-5" horizontalAlignment="left" col="0" width="40" height="40" [src]="item.images[0] "></Image>
                                        <Label class="h3" style="text-align: center" (tap)="viewDetail(item.id)" col="1" [text]='item.title'></Label>
                                        <Image class="m-5" col="2" horizontalAlignment="right" width="40" height="40" (tap)="delete(item)" [src]="'~/assets/trash.png'"></Image>
                                    </GridLayout>                 
                                </ng-template>
                            </ListView>
                    </StackLayout>
               <!--     <StackLayout class="card">
                        <Label text="{{selection ? 'I chose ' + selection : ''}}" textWrap="true" style="font-size: 30; text-align: center; margin-top: 50; font-weight: bold; color: black;" ></Label>
                         <ListView [items]="exercises$ | async"  height="300">
                                <ng-template let-item="item">                  
                                    <GridLayout columns="auto,*,auto">
                                        <Image class="m-5" horizontalAlignment="left" col="0" width="40" height="40" [src]="item.imagepath.length>0 ? item.imagepath : '~/assets/camera.png'"></Image>
                                        <Label class="m-5"  (tap)="viewDetail(item.id)" col="1" [text]='item.title'></Label>
                                        <Image class="m-5" col="2" horizontalAlignment="right" width="40" height="40" (tap)="delete(item)" [src]="'~/assets/trash.png'"></Image>
                                    </GridLayout>                 
                                </ng-template>
                            </ListView>
                    </StackLayout>-->
                    </StackLayout>
            </GridLayout>
            <FilterableListpicker #myfilter blur="dark" hintText="Type to filter..." [source]="listitems" (canceled)="cancelFilterableList($event)" (itemTapped)="itemTapped($event)"></FilterableListpicker>              

      </GridLayout>
    </ScrollView>
    </GridLayout>
</RadSideDrawer>
</Page>
