<ActionBar class="action-bar">
   
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <ActionItem (tap)="logout()">
        <Button text="Logout" class="action-item"></Button>
      </ActionItem> 
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>


<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
 
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>
    
  
    <GridLayout class="page page-content" tkMainContent>
        <TabView [(ngModel)]="tabSelectedIndex" selectedColor="#FF0000" iosIconRenderingMode="alwaysOriginal" sdkExampleTitle sdkToggleNavButton>
            <StackLayout *tabItem="{title: 'Profile'}">
                <ScrollView> 
                        <StackLayout #User > 
                                <GridLayout row="0" col="0" rows="* *" style="background-color: rgba(255, 255, 255, 0.986);" >
                                    <StackLayout row="0" rowSpan="2" class="p-t-15">
                                        <StackLayout class="m-20 p-l-15 p-r-15">
                                            <Image [src]="profilePhoto" height="80" width="80" class="img-circle" borderWidth="1" borderColor="white"></Image>
                                            <Label [text]="name" class="h2 text-center" textWrap="true"></Label>
                                            <Label [text]="email" class="h4 text-center" textWrap="true"></Label>
                                            <StackLayout class="hr-light"></StackLayout>
                                              <GridLayout columns="*,*,*" rows="*,*,*,*,*,*,*">  
                                                <GridLayout  class="form" row="0" col="0" rows="auto,auto"  verticalAlignment="top">
                                                    <Label text="Height" class="field-title h2" ></Label>
                                                    <Label id="height" row="1" [text]="height"   ></Label> 
                                                </GridLayout>
                                                <GridLayout  class="form" row="0" col="1" rows="auto,auto"  horizontalAlignment="center" verticalAlignment="top">
                                                        <Label text="Weight" class="field-title h2" ></Label>
                                                        <Label id="weight" row="1" [text]="weight" class="h3" ></Label>                                             
                                                </GridLayout>  
                                                <GridLayout  class="form" row="0" col="2" rows="auto,auto" horizontalAlignment="center" verticalAlignment="top">
                                                        <Label text="Age" class="field-title h2" ></Label>
                                                        <Label id="age" row="1" [text]="age" class="h3"  ></Label>                                             
                                                </GridLayout> 
                                                <GridLayout  class="form"  row="1" col="0" colSpan="2" rows="auto,auto" verticalAlignment="top">
                                                        <Label text="Bio" class="field-title h2" ></Label>
                                                        <Label id="height" row="1" [text]="bio"   ></Label> 
                                                </GridLayout>
                                                <GridLayout  class="form"  row="2" col="0"  colSpan="2" rows="auto,auto" verticalAlignment="top">
                                                        <Label text="Goals" class="field-title h2" ></Label>
                                                        <Label id="height" row="1" [text]="goals"   ></Label> 
                                                </GridLayout> 
                                                <GridLayout  class="form"  row="3" col="0"  colSpan="3" rows="auto,auto" verticalAlignment="top">
                                                        <Label class="h2" style="text-align: center"  text='Workouts'></Label>
                                                        <Label class="hr-light" row="1" colSpan="3"></Label>
                                                </GridLayout> 
                                                <GridLayout  class="form"  row="4" rowSpan="3" colSpan="3"  height="" rows="auto,auto" verticalAlignment="top">
                                                        <ListView [items]="workouts"  height="400">
                                                                <ng-template let-item="item "> 
                                                                    <ScrollView>                 
                                                                        <StackLayout class="">
                                                                        <GridLayout  columns="*,*,*">
                                                                            <Button  class="m-5" class="btn btn-primary btn-active" col="0" horizontalAlignment="left" id="button" text="Info" (tap)="viewWorkout(item.id)"></Button>
                                                                            <Label class="h3" style="text-align: center" verticalAlignment="center" (tap)="viewWorkout(item.id)" col="1" [text]='item.name'></Label>
                                                                            <Image class="m-5" col="2" horizontalAlignment="right" width="40" height="40" (tap)="delete(item)" [src]="'~/assets/trash.png'"></Image>
                                                                        </GridLayout> 
                                                                        <StackLayout class="hr-light"></StackLayout>
                                                                        </StackLayout>
                                                                    </ScrollView>                
                                                                </ng-template>
                                                            </ListView>
                                                    </GridLayout> 
                                                </GridLayout>
                                                <StackLayout class="hr-light"></StackLayout>
                                               
                                    </StackLayout>
                                    </StackLayout>
                                </GridLayout>
                        </StackLayout>
                    </ScrollView> 
            </StackLayout>
            <StackLayout *tabItem="{title: 'Update Proflie'}">
                  
                <StackLayout>
                <ScrollView>  
                    <GridLayout id="form-content" class="form-content" rows="auto,*,auto" loaded="onContentLoaded">
                            
                            <StackLayout class="">
                                <GridLayout  class="form" rows="auto,auto" verticalAlignment="top">
                                        <Label text="Height" class="field-title h2" ></Label>
                                        <TextView id="height" row="1"  [(ngModel)]="height" class="field" tap="onTextInputTapped"></TextView> 
                                </GridLayout>  

                                <GridLayout  class="form" rows="auto,auto" verticalAlignment="top">
                                        <Label text="Weight" class="field-title h2" ></Label>
                                        <TextView id="weight" row="1" [(ngModel)]="weight" class="field" tap="onTextInputTapped"></TextView> 
                                </GridLayout> 

                                <GridLayout  class="form" rows="auto,auto" verticalAlignment="top">
                                        <Label text="Age" class="field-title h2" ></Label>
                                        <TextView id="age" row="1" [(ngModel)]="age" class="field" tap="onTextInputTapped"></TextView> 
                                </GridLayout>  

                                <GridLayout  class="form" rows="auto,auto" verticalAlignment="top">
                                        <Label text="Goals" class="field-title h2" ></Label>
                                        <TextView id="goals" row="1"  [(ngModel)]="goals"  class="field" tap="onTextInputTapped"></TextView> 
                                </GridLayout> 
                                <GridLayout  class="form" rows="auto,auto" verticalAlignment="top">
                                    <Label text="Bio" class="field-title h2" ></Label>
                                    <TextView id="bio" row="1"  [(ngModel)]="bio"  class="field" tap="onTextInputTapped"></TextView> 
                                </GridLayout> 
                                <GridLayout  class="form" rows="auto" verticalAlignment="top">
                                    <Button  class="m-3" class="btn btn-primary btn-active"  horizontalAlignment="stretch" id="button" text="Update" (tap)="updateProfile()"></Button>
                                </GridLayout>  
                            </StackLayout>
                           
                    </GridLayout>
                </ScrollView>
                </StackLayout>
              
            </StackLayout>
        </TabView>
    </GridLayout>
</RadSideDrawer>